/* about.css */

#about {
    background-color: #E8EDE7;
    color: #012E4A;
    position: relative; /* 위치를 상대적으로 지정 */
    height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
    z-index: 2; /* 겹침 우선순위 설정 */
}

