/* about.css 수정 */
#about {
    background-color: #FFFFFF;
    color: #012E4A;
    position: relative;
    height: 100vh;
    z-index: 2;
}

/* 이미지 스타일 */
#about img {
    position: absolute;
    top: 15%; /* 예시 비율, 실제 비율은 디자인에 따라 조정 필요 */
    left: 25%; /* 예시 비율 */
    width: 14%; /* 화면 너비의 14% */
    height: auto; /* 비율 유지를 위해 자동 조정 */
}

/* 텍스트 스타일 */
.Personal, .Education, .Certification, .Experience, .Skills,
.Personal-info, .Education-info, .Certification-info, .Experience-info, .Skill-info {
    position: absolute;
    font-size: 1.3vw; /* 화면 너비에 따라 조정되도록 vw 단위 사용 */
    color: #036280;
    text-align: left;
}

/* 제목 텍스트에 대한 추가 스타일 */
.Personal, .Education, .Certification, .Experience, .Skills {
    font-weight: bold;
    font-size: 1vw;
}

/* 개별 위치 적용 (이 부분은 % 또는 vw 단위로 조정 필요, 여기서는 예시로만 제공) */
.Personal, .Personal-info, .Education , .Education-info, .Certification, .Certification-info,
.Experience, .Experience-info, .Skills , .Skill-info {
    left: 50%; /* 중앙 정렬을 위한 예시, 실제 값은 디자인에 맞게 조정 필요 */
}

.Personal, .Experience, .Education, .Skills, .Certification,
.Personal-info, .Experience-info, .Education-info, .Skill-info, .Certification-info {
    top: 15%; /* 시작 위치를 상단으로부터 10%로 설정, 실제 값은 조정 필요 */
}

/* mind 텍스트 스타일 */
.mind, .mind-info {
    position: absolute;
    font-size: 1vw;
    color: #036280;
    text-align: left;
}

.mind { 
    top: 45%; 
    left: 24%;
    font-weight: bold;
    font-size: 1.5vw;
}

.mind-info { 
    top: 52%; 
    left: 24%;
    font-size: 0.9vw;
}
