/* 폰트 지정 */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* 기존 스타일에 추가 */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        text-align: center;
        padding: 10px;
    }

    .home_instruction, .home_career, .home_contact, .home_contact-info {
        left: 5%; /* 왼쪽 정렬 조정 */
        width: 90%; /* 너비 조정 */
        text-align: center; /* 텍스트 중앙 정렬 */
    }

    .home_instruction {
        font-size: 40px; /* 글씨 크기 조정 */
        top: 10%; /* 위치 조정 */
    }

    .home_career, .home_contact, .home_contact-info {
        font-size: 18px; /* 글씨 크기 조정 */
    }

    .home_contact, .home_contact-info {
        top: auto; /* 위치 자동 조정 */
        position: relative; /* 위치 조정 */
    }
}

