/* 폰트 지정 */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* 모바일 화면에 대한 스타일 */
@media only screen and (max-width: 600px) {
    /* 메뉴 항목의 폰트 크기를 줄임 */
    nav ul li a {
        font-size: 14px;
    }

    /* 각 메뉴 항목 사이의 간격 조정 */
    nav ul li {
        margin-right: 10px;
    }
}