/* 폰트 지정 */
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');

body, html {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

@media screen and (max-width: 390px) { /* 아이폰 13 Pro의 가로 길이에 맞춤 */
    /* 메뉴 스타일 */
    nav ul {
        display: flex;
        flex-direction: column;
        /* 필요한 추가 스타일 */
    }

    /* 폰트 크기 조정 */
    body, h1, h2, p {
        font-size: smaller; /* 예시, 실제로는 적절한 크기 지정 */
    }
}

/* 모바일 환경에서의 텍스트 스타일 */
@media screen and (max-width: 390px) {
    h1, h2, p {
        line-height: 1.2; /* 줄 간격 조정 */
        margin: 0.5em 0; /* 위아래 마진 조정 */
    }
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* 메뉴 아이템 간격 조정 */
}
