header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(55, 139, 164, 0.5);
    color: #E8EDE7;
    font-size: 20px;
    z-index: 1000;
    padding: 20px 0; /* 상단과 하단 여백을 20px로 조정 */
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 5px 50px; /* 좌우 패딩을 40px에서 50px로 증가시켜 여백을 더 넓혔습니다 */
    color: #E8EDE7;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 20px;
}

nav ul li a:hover {
    background-color: #036280;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
