/* home.css */
#home {
    background-color: #378BA4;
    position: relative; /* 위치를 상대적으로 지정 */
    height: 100vh; /* 화면의 전체 높이를 차지하도록 설정 */
    z-index: 1; /* 겹침 우선순위 설정 */
}

.home-instruction {
    position: absolute;
    left: 30%; /* 왼쪽에서부터의 위치를 퍼센트로 지정 */
    top: 29%; /* 상단에서부터의 위치를 퍼센트로 지정 */
    font-size: 4vw; /* vw 단위로 변경 */
    text-align: left;
    color: #E8EDE7;
}

.home-career {
    color: #E8EDE7;
    position: absolute;
    left: 30%; /* 이전의 412px 대신 */
    top: 46%; /* 이전의 320px 대신 */
    font-size: 2vw; /* vw 단위로 변경 */
    text-align: left;
}

.home-contact {
    color: #E8EDE7;
    position: absolute;
    left: 60%; /* 이전의 1000px 대신 */
    top: 40%; /* 이전의 280px 대신 */
    font-size: 1.5vw; /* vw 단위로 변경 */
    text-align: left;
    margin: 10px 0;
}

.home-contact-info {
    position: absolute;
    color: #E8EDE7;
    left: 60%; /* 이전의 1000px 대신 */
    top: 45%; /* 이전의 320px 대신 */
    font-size: 1vw; /* vw 단위로 변경 */
    text-align: left;
    margin: 10px 0;
}

#home a {
    color: #E8EDE7;
    text-decoration: none;
}

#home a:hover {
    text-decoration: underline;
}
