.home-section {
    position: relative; /* 포지션 기준점 설정 */
    min-height: 100vh;
    color: white;
    background-color: #378BA4;
  }
  
  .name-intro, .contact-info {
    position: absolute; /* 절대 위치를 사용하여 요소를 배치합니다. */
    top: 50%; /* 세로 중앙에 위치 */
    transform: translateY(-50%); /* 세로 중앙 정렬을 위한 조정 */
    width: auto; /* 너비 자동 조정 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
  }

  .name-intro {
    left: 20%; /* 왼쪽 여백을 줄임 */
  }
  
  .contact-info {
    right: 20%; /* 오른쪽 여백을 줄임 */
  }
  
  
  .name-intro h1 {
    font-size: 4.5em; /* 폰트 사이즈를 줄임 */
    margin-bottom: 0.1em; /* 하단 여백을 줄임 */
  }
  
  .name-intro p {
    font-size: 1.7em; /* 폰트 사이즈를 줄임 */
    margin-bottom: 1em; /* 하단 여백을 줄임 */
  }
  
  .job-title h2 {
    font-size: 1.8em; /* 폰트 사이즈를 줄임 */
    font-weight: normal; /* 굵기를 일반으로 설정 */
    margin-top: 0.2em; /* 이름과 직함 사이의 위아래 간격을 줄임 */
  }
  
  .contact-info p {
    margin: 10px 0; /* 상하 여백 조정 */
    line-height: 1.2; /* 라인 높이 조정 */
  }
  
  .contact-info strong {
    font-weight: bold; /* 태그 내 텍스트를 굵게 표시 */
  }
  
  .contact-info a {
    color: white; /* 링크 색상을 흰색으로 설정 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  .contact-info p,
  .contact-info a {
    font-weight: 100; /* 폰트 굵기를 light로 설정 */
    /* 이 설정은 해당 폰트에 300 두께가 있을 때만 적용됩니다. */
  }

  .contact-info a:hover {
    text-decoration: underline; /* 링크에 마우스를 올렸을 때 밑줄 표시 */
  }
  