#portfolio {
    background-color: #012E4A;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
}

/* 포트폴리오 섹션 전체 스타일 */
.portfolio-container {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease; /* 부드러운 전환 효과 */
}

.portfolio-title {
    text-align: left;
    font-size: 2.5rem;
    flex: 1;
    margin-right: 40%;
}

.portfolio-sections {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 세부 정보 영역 초기 스타일 */
.portfolio-details {
    width: 0; /* 초기에는 너비를 0으로 설정하여 숨김 */
    overflow: hidden; /* 너비가 0일 때 내용이 넘치지 않도록 설정 */
    transition: width 0.5s ease; /* 너비 변화에 부드러운 전환 효과 적용 */
    background-color: #ffffff; /* 배경색 변경 */
    color: #000000; /* 텍스트 색상 변경 */
    margin-left: 20px; /* 좌측 마진 추가 */
    padding: 20px; /* 내용이 있을 때 패딩 추가 */
    box-sizing: border-box; /* 패딩을 너비에 포함 */
}

/* 클릭 시 세부 정보 영역이 확장되는 스타일 */
.portfolio-details.active {
    width: 50%; /* 세부 정보 영역의 너비를 50%로 설정하여 표시 */
    overflow-y: auto; /* 내용이 많을 경우 스크롤 표시 */
}

/* 리스트 항목과 세부 정보 영역 사이의 전환 효과 */
.portfolio-sections.active {
    transform: translateX(-20%); /* 섹션을 왼쪽으로 이동 */
}

/* 왼쪽으로 이동하는 애니메이션 추가 */
.move-left {
    transform: translateX(-50%);
}

.portfolio-content {
    display: flex;
    justify-content: space-between;
}

.company, .personal {
    width: 100%;
    margin-bottom: 1rem;
}

.company h3, .personal h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.company ul, .personal ul, .company ol, .personal ol {
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
    margin: 0;
}

.company li, .personal li, .company ol li, .personal ol li {
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.portfolio-sections > .company, .portfolio-sections > .personal {
    counter-reset: section; /* 각 회사 섹션이 시작할 때마다 카운터를 1로 리셋합니다. */
}

.company ol, .personal ol {
    list-style-type: none; /* 기존에 있던 스타일을 재정의합니다. */
    padding-left: 0; /* 좌측 패딩을 제거합니다. */
    margin-left: 20px; /* 좌측 마진을 추가하여 숫자와의 간격을 조정합니다. */
    margin-bottom: 0.5rem; /* 하단 마진을 추가하여 간격을 조정합니다. */
}

.company ol li::before, .personal ol li::before {
    content: counter(section) ". "; /* 현재 섹션의 카운터 값을 표시합니다. */
    counter-increment: section; /* 카운터를 1씩 증가시킵니다. */
    font-weight: bold; /* 숫자를 굵게 표시합니다. */
    padding-right: 5px; /* 숫자와 텍스트 사이의 간격을 조정합니다. */
}

/* 중첩된 목록에 대한 카운터 설정 */
.company ol li > ol, .personal ol li > ol {
    counter-reset: subsection; /* 중첩된 목록이 시작할 때마다 카운터를 리셋합니다. */
}

.company ol li > ol li::before, .personal ol li > ol li::before {
    content: counter(section) "-" counter(subsection) ". "; /* 상위 카운터와 하위 카운터 값을 표시합니다. */
    counter-increment: subsection; /* 하위 카운터를 1씩 증가시킵니다. */
    font-weight: bold; /* 숫자를 굵게 표시합니다. */
    padding-right: 5px; /* 숫자와 텍스트 사이의 간격을 조정합니다. */
}