#portfolio {
    background-color: #012E4A;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
}

.portfolio-title {
    text-align: left;
    font-size: 2.5rem;
    flex: 1;
    margin-right: 40%;
}

.portfolio-sections {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.company, .personal {
    width: 100%;
    margin-bottom: 1rem;
}

.company h3, .personal h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.company ul, .personal ul, .company ol, .personal ol {
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
    margin: 0;
}

.company li, .personal li, .company ol li, .personal ol li {
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.portfolio-sections > .company, .portfolio-sections > .personal {
    counter-reset: section; /* 각 회사 섹션이 시작할 때마다 카운터를 1로 리셋합니다. */
}

.company ol, .personal ol {
    list-style-type: none; /* 기존에 있던 스타일을 재정의합니다. */
    padding-left: 0; /* 좌측 패딩을 제거합니다. */
    margin-left: 20px; /* 좌측 마진을 추가하여 숫자와의 간격을 조정합니다. */
    margin-bottom: 0.5rem; /* 하단 마진을 추가하여 간격을 조정합니다. */
}

.company ol li::before, .personal ol li::before {
    content: counter(section) ". "; /* 현재 섹션의 카운터 값을 표시합니다. */
    counter-increment: section; /* 카운터를 1씩 증가시킵니다. */
    font-weight: bold; /* 숫자를 굵게 표시합니다. */
    padding-right: 5px; /* 숫자와 텍스트 사이의 간격을 조정합니다. */
}

/* 중첩된 목록에 대한 카운터 설정 */
.company ol li > ol, .personal ol li > ol {
    counter-reset: subsection; /* 중첩된 목록이 시작할 때마다 카운터를 리셋합니다. */
}

.company ol li > ol li::before, .personal ol li > ol li::before {
    content: counter(section) "-" counter(subsection) ". "; /* 상위 카운터와 하위 카운터 값을 표시합니다. */
    counter-increment: subsection; /* 하위 카운터를 1씩 증가시킵니다. */
    font-weight: bold; /* 숫자를 굵게 표시합니다. */
    padding-right: 5px; /* 숫자와 텍스트 사이의 간격을 조정합니다. */
}